<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='cwr-framework.all,examPortal.all'}"/>

   <div class="tab">
  <button id="buttonA" class="tablinks" onclick="glossaryTerm(event, 'A')">A</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'B')">B</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'C')">C</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'D')">D</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'E')">E</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'F')">F</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'G')">G</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'H')">H</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'I')">I</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'J')">J</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'K')">K</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'L')">L</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'M')">M</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'N')">N</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'O')">O</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'P')">P</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'Q')">Q</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'R')">R</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'S')">S</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'T')">T</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'U')">U</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'V')">V</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'W')">W</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'X')">X</button> 
  <button class="tablinks" onclick="glossaryTerm(event, 'Y')">Y</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'Z')">Z</button>
  <button class="tablinks" onclick="glossaryTerm(event, 'Others')">Others</button> 
</div>

<div id="A" class="tabcontent">
 <div data-sly-resource="${'par1' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

<div id="B" class="tabcontent">
 <div data-sly-resource="${'par2' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
</div>

<div id="C" class="tabcontent">
   <div data-sly-resource="${'par3' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
</div>

<div id="D" class="tabcontent">
 <div data-sly-resource="${'par4' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="E" class="tabcontent">
 <div data-sly-resource="${'par5' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="F" class="tabcontent">
 <div data-sly-resource="${'par6' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

<div id="G" class="tabcontent">
 <div data-sly-resource="${'par7' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="H" class="tabcontent">
 <div data-sly-resource="${'par8' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="I" class="tabcontent">
 <div data-sly-resource="${'par9' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="J" class="tabcontent">
 <div data-sly-resource="${'par10' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="K" class="tabcontent">
 <div data-sly-resource="${'par11' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="L" class="tabcontent">
 <div data-sly-resource="${'par12' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="M" class="tabcontent">
 <div data-sly-resource="${'par13' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="N" class="tabcontent">
 <div data-sly-resource="${'par14' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="O" class="tabcontent">
 <div data-sly-resource="${'par15' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="P" class="tabcontent">
 <div data-sly-resource="${'par16' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="Q" class="tabcontent">
 <div data-sly-resource="${'par17' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="R" class="tabcontent">
 <div data-sly-resource="${'par18' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="S" class="tabcontent">
 <div data-sly-resource="${'par19' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="T" class="tabcontent">
 <div data-sly-resource="${'par20' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="U" class="tabcontent">
 <div data-sly-resource="${'par21' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="V" class="tabcontent">
 <div data-sly-resource="${'par22' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="W" class="tabcontent">
 <div data-sly-resource="${'par23' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="X" class="tabcontent">
 <div data-sly-resource="${'par24' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>

 <div id="Y" class="tabcontent">
 <div data-sly-resource="${'par25' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>
 <div id="Z" class="tabcontent">
 <div data-sly-resource="${'par26' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>
 <div id="Others" class="tabcontent">
 <div data-sly-resource="${'par27' @ resourceType='cwr-framework/components/content/glossaryterms'}"></div>
 </div>