Accordion component 

#menu-menu li ul {
    display: none;

}
#menu-menu li ul li a {
    display: block;
    background-color: none;
    padding: 10px 0px;
    padding-left: 30px;
    font-size: 2.1em;
    text-decoration: none;
    font-weight: bold;

    text-shadow: 1px 1px 0px #000;
}
#menu-menu li ul li a:hover {

}
#menu-menu li a{
display: block;
    background: none;
    padding: 10px 0px;
    padding-left: 30px;
    font-size: 2.1em;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    text-shadow: 1px 1px 0px #000000;


}

.accordionActive{

  display: block !important;
    }

.accordionInactive{
            display:none !important;
        }

