




.nm-social-list a.a1{

padding-left: 00px;

}



.nm-social-list a.a2{

padding-left: 30px;

}

.nm-social-list a.a3{

padding-left: 60px;



}


.nm-social-list a.a4{

padding-left: 90px;


}

.nm-social-list a.a5{

padding-left: 120px;

}

.nm-social-list a.a6{

padding-left: 150px;

}

.nm-social-list a.a7{

padding-left: 180px;

}


