.nm-social-list a.0{

padding-left: 10px;
background-color: orange


}

.nm-social-list a.1{

padding-left: 30px;

}

.nm-social-list a.2{

padding-left: 60px;

}

.nm-social-list a.3{

padding-left: 90px;

}

.nm-social-list a.4{

padding-left: 120px;

}

.nm-social-list a.5{

padding-left: 150px;

}

.nm-social-list a.6{

padding-left: 180px;

}


